:root {
    --header-height: 55px;
    --main-header-bar-height: min(calc(var(--header-height) * 0.7), 40px);
    --logo-width: 70px;
    --search-width: min(calc(var(--header-height)*2.2), 140px)
}


#main-header {  
    position: fixed;
    align-content: center;
    height: var(--header-height);
    width: calc(100vw - 40px);
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

#main-header-bar {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--main-header-bar-height);
}

.main-header-logo  {
    height: var(--main-header-bar-height);
    aspect-ratio: 800/536;
    width: auto;
    place-self: center;
}

#search-bar {
    display: block;
    height: 85%;
    background-color: #e20612;
    border-radius: 1000px;
}

#menu-button {
    display: none;
    height: 70%;
    width: 85%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 22%;
}

#header-gradient {
    position: fixed;
    top: var(--header-height);
    left: 0px;
    height: 20px;
    width: 100vw;
}

@media (min-width: 820px) {                             /* Width-Size > 820px */

    #main-header-bar {
        grid-template-columns: var(--logo-width) calc(100% - var(--logo-width) - var(--search-width) - calc(var(--main-header-bar-height) * 0.4 * 2)) var(--search-width);
        gap: calc(var(--main-header-bar-height) * 0.4);
    }

    #header-nav-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: calc(var(--main-header-bar-height) * 0.4);
        height: 60%;
        padding-left: calc(var(--main-header-bar-height) * 0.5);
    }

    .header-nav-element {
        display: inline-flex;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 450;
        font-size: min(calc(var(--main-header-bar-height) * 0.5), 15px);
    }

    #menu-button {
        display: none;
    }
}


@media (min-width: 350px ) and (max-width: 820px) {    /* 350px < Width-Size < 820px */

    #main-header-bar {
        grid-template-columns: var(--logo-width) calc(100% - var(--logo-width) - var(--search-width) - var(--main-header-bar-height) - 60px)  var(--search-width) var(--main-header-bar-height);
        gap: 20px;
    }

    #header-nav-container .header-nav-element {
        display: none;
    }

    #menu-button {
        display: grid;
    }

    .menu-button-element {
        width: 100%;
        background-color: black;
        border-radius: 10000px;
    }
}


@media (max-width: 350px ) {                            /* Width-Size < 350px */

    #main-header-bar {
        grid-template-columns: var(--logo-width) calc(100% - var(--logo-width   ) - var(--main-header-bar-height)) var(--main-header-bar-height);
    }

    .header-nav-element {
        display: none;
    }

    #search-bar {
        display: none;
    }

    #menu-button {
        display: grid;
    }

    .menu-button-element {
        background-color: black;
        border-radius: 10000px;
    }
}